.index-layout {
  position: relative;
  padding: 72px 0;
  min-height: 100vh;
}

.layout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 72px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.layout-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f7f7f7;
  height: 72px;
}

.layout-container {
  padding: 48px 48px 96px;
}
